ENERGY_IMAGE=localhost/energy-forecast:0.1.0-alpha.2
ENERGY_BIND_ADDRESS=0.0.0.0
ENERGY_HOST_PORT=18080
ENERGY_PUBLIC_ORIGIN=http://REPLACE_WITH_LXC_ADDRESS:18080
ENERGY_COOKIE_SECURE=false
ENERGY_MEMORY_LIMIT=2g
ENERGY_CPU_LIMIT=2
